; https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
tab_width = 4

[*.md]
tab_width = 4
trim_trailing_whitespace = false

[Dockerfile]
tab_width = 4

[*.yml]
indent_style = space
indent_size = 2
end_of_line = LF

[{*.js,*.json}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
block_comment_start = /**
block_comment = *
block_comment_end = */

[*.sql]
indent_style = tab
trim_trailing_whitespace = true
tab_width = 4

[*.go]
indent_style = tab
tab_width = 4


